nextflow.enable.dsl=2

params {

    outdir = "${launchDir}/output"

    // reference = "${projectDir}/reference/sequence.fasta"
    
    sampling = true
    run_intrahost_variants = false
    translate_mutations = false

    query_id = ["NC_045512.2_BA.2", "NC_045512.2_BA.1"]
    ref_id = "NC_045512.2"
}